<!DOCTYPE html>
<html>

<head>
    <title>Store</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/Content/css/style-1.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">

    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>
    <script>
        $('.carousel').carousel({
            interval: 200

        })
    </script>
</head>

<body>
    
    <!-- --header-- -->
    <div class="container-fluid header">
        <div class="container-fluid fixed-top bg-light">

            <nav class="navbar navbar-expand-lg">
                <a href="@Url.Action("Index","Home",new {})" class="navbar-brand">
                    <div class="logo" style="margin-left:40px">
                        <img src="~/Content/img/logo-z.png" />
                    </div>
                </a>
                <button class="navbar-toggler menu" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>

                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto header-menu">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index","Home",new {})">TRANG CHỦ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","TShirt", new {})" tabindex="-1" aria-disabled="false">ÁO THUN</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Shirt", new {})" tabindex="-1" aria-disabled="true">SƠ MI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Hoodie", new {})" tabindex="-1" aria-disabled="true">HOODIE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Trousers", new {})" tabindex="-1" aria-disabled="true">QUẦN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Bag", new {})" tabindex="-1" aria-disabled="true">PHỤ KIỆN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Contact",new {})" tabindex="-1" aria-disabled="true">LIÊN HỆ</a>
                        </li>


                    </ul>
                   
                    <div class="mr-3 cart">
                         @if (Session["MaKH"] == null)
                         {
                            <a href="@Url.Action("Index", "Login", new { })" onclick="checkLogin()">
                                <i class="fas fa-user"></i>
                            </a>
                         }
                         else
                         {
                            <a href="@Url.Action("Edit", "Login", new { })" onclick="checkLogin()">
                                <i class="fas fa-user"></i>
                            </a>
                         }

                        <a class="ml-3 mr-3" href="@Url.Action("Index","GioHang",new {})">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="notifys">
                                @if (Session["count"] != null)
                                {
                                    @Session["count"]
                                }
                                else
                                {
                                    Session["count"] = 0;
                                    @Session["count"];
                                }
                            </span>
                        </a>

                    </div>
                   
                    <div class="form-inline search" style="margin-right:20px;">
                        @*<input type="text" class="form-control" placeholder="Search..">
                        <button type="submit" class="form-control btn" style="">

                        </button>*@
                        @using (Html.BeginForm("Index"))
                        { 
                        @Html.TextBox("search") <input type="submit" value="Search"/>
                        }
                    </div>
                    @if(Session["MaKH"] != null ) {
                        if(Session["GioiTinh"] != null)
                        { 
                        <div class="logo" style="width:40px;margin-right:0px">
                            <a href="@Url.Action("Edit","Login")"><img src="~/Content/img/avtnam.png" /></a>
                        </div>
                        }
                        else
                        {
                            <div class="logo" style="width:40px;margin-right:0px">
                                <a href="@Url.Action("Edit","Login")"><img src="~/Content/img/avtnu.png" /></a>
                            </div>
                        }
                    }else
                    { }

                </div>

            </nav>

        </div>

    </div>
    @*<div class="alert alert-success">
        Demo alert
    </div>*@
<div style="margin-top:100px;">
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>
    }
</div>
    @RenderBody()
    <!-- ---- -->
    <!-- --body-- -->
    
    <!-- ---- -->
    <!-- --footer-- -->
    <div class="container-fluid" style="margin-top:10px;">

        <!-- --thongtin-- -->
        <div class="container info">

            <div class="row mt-5 mb-5">
                <div class="col-3 info-col">
                    <div class="h6">
                        GỌI MUA HÀNG(8:30 - 17:00)
                    </div>
                    <a href="tel:0395342134">

                        <i class="fas fa-phone-alt"></i>
                        033 892 7972
                    </a>

                    <div class="info-foot">Tất cả các ngày trong tuần</div>
                </div>
                <div class="col-3 info-col">
                    <div class="h6">GỌI MUA HÀNG(8:30 - 17:00) </div>

                    <a href="tel:0395342134">
                        <i class="fas fa-phone-alt"></i>
                        033 892 7972
                    </a>

                    <div class="info-foot">Tất cả các ngày trong tuần</div>
                </div>

                <div class="col-3">
                    <div class="h6">ĐĂNG KÍ NHẬN THÔNG TIN MỚI</div>
                    <form action="" class="form-inline">
                        <input type="text" class="form-control" style="width: 60%;">
                        <a href="" class="btn btn-outline-dark">Đăng kí</a>
                    </form>
                </div>
                <div class="col-3 info-social">
                    <div class="h6">THEO DÕI CHÚNG TÔI</div>
                    <div class="row">
                        <div class="col-3">
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="">
                                <i class="fab fa-twitter"></i>

                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ---- -->
        <!-- --footer-- -->
        <div class="container-fluid footer-3">
            <div class="container">
                <div class="row">
                    <div class="col-3 link-support">
                        <div class="h6">HỖ TRỢ KHÁCH HÀNG</div>
                        <ul>
                            <li>
                                <a href="">Hướng dẫn mua hàng</a>
                            </li>
                            <li>
                                <a href="">Chính sách đổi/trả</a>
                            </li>
                            <li>
                                <a href="">Hình thức thanh toán</a>
                            </li>
                            <li>
                                <a href="">Chính sách giao hàng</a>
                            </li>
                            <li>
                                <a href="">Thông tin bảo mật</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 link-support">
                        <div class="h6">HỆ THỐNG CỬA HÀNG</div>
                        <ul>
                            <li>
                                Zero Shop
                            </li>
                            <li class="text">
                                Địa chỉ: Chung Cư Đông Hải, Tô Ký, Tân Chánh Hiệp, Quận 12
                            </li>
                            <li>
                                Phone : 033 892 7972
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 link-support">
                        <div class="h6">VỀ CHÚNG TÔI</div>
                        <div class="text">
                            Với hơn 20 cửa hàng trải dài cả nước, Germe hy vọng sẽ mang đến sự phục vụ chu
                            đáo cho tất
                            cả các khách hàng. Hệ thống cửa hàng thời trang Germe luôn luôn lắng nghe những ý kiến đóng
                            góp từ các khách hàng với mục tiêu đẩy mạnh dịch vụ, mở rộng hệ thống và làm hài lòng những
                            vị khách đến trên toàn quốc.
                        </div>
                    </div>
                    <div class="col-3 link-support">
                        <div class="h6">FANPAGE CHÚNG TÔI</div>
                        <div class="text">
                            Với hơn 20 cửa hàng trải dài cả nước, Germe hy vọng sẽ mang đến sự phục vụ chu
                            đáo cho tất
                            cả các khách hàng. Hệ thống cửa hàng thời trang Germe luôn luôn lắng nghe những ý kiến đóng
                            góp từ các khách hàng với mục tiêu đẩy mạnh dịch vụ, mở rộng hệ thống và làm hài lòng những
                            vị khách đến trên toàn quốc.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---- -->
    </div>
    <!-- ---- -->


</body>

</html>
