@model QuanLyBanHang.Models.Nhanvien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@if ((bool)Session["Admin"] == true)
{
    <h2>Chi tiết nhân viên</h2>

    <div>
        <h4>Nhân viên</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Họ tên:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoNV) @Html.DisplayFor(model => model.Ten)
            </dd>

            <dt>
                Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Diachi)
            </dd>

            <dt>
                Số điện thoại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dienthoai)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Mật khẩu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaNV }) |
        @Html.ActionLink("Trở về danh sách nhân viên", "Index")
    </p>
}
else
{
    <H2>Bạn không có quyền quản lý nhân viên</H2>
}
