@model QuanLyBanHang.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div style="font-size:25px;margin-left:10px;">
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd >
            <b> Tên sản phẩm: </b> @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dd>
           <b> Đơn giá: </b>@Html.DisplayFor(model => model.DonGia)
        </dd>

        <dd>
            <b> Số lượng: </b>@Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dd>
            <b>Hình sản phẩm: </b><img id="i@(Model.MaSP)" class="proo card-img-top" style="max-height:300px;max-width:200px;" alt="@Model.TenSP" src="/@Model.HinhSP">
        </dd>

        <dd>
            <b>Tên loại sản phẩm: </b>@Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa sản phẩm", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Trở về danh sách sản phẩm", "Index")
</p>
