@model IEnumerable<QuanLyBanHang.Models.DonHang>
@{
    ViewBag.Title = "ApprovedOrder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2>Đơn hàng đã duyệt</h2>

<div style="margin-top:20px;margin-left:13px;">
    <a href=@Url.Action("Index", "DonHangs") class="btn btn-light" style="border-color:black">
        <span class="text" h> Tất cả đơn hàng</span>
        <i class="fas fa-arrow-up"></i>
    </a>
    <a href=@Url.Action("UnapprovedOrder", "DonHangs") class="btn btn-light" style="border-color:black">
        <span class="text" h> Đơn hàng chưa duyệt</span>
        <i class="fas fa-arrow-down"></i>
    </a>
    <a href=@Url.Action("ApprovedOrder", "DonHangs") class="btn btn-light" style="border-color:black">
        <span class="text" h> Đơn hàng đã duyệt</span>
        <i class="fas fa-arrow-down"></i>
    </a>
</div>
<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLapHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLapHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
            </td>
            
            <td>
                @if (item.NgayGiaoHang != null)
                {
                    <p style="color:#17850D">Đã duyệt</p>
                }
                else
                {
                    <p style="color:red;">Chờ phê duyệt</p>
                }
            </td>
            
            <td>
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaDH }) 
            </td>
        </tr>
    }

</table>






