<@model IEnumerable<QuanLyBanHang.Models.CTDH>
@using QuanLyBanHang.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="margin-top:100px;margin-left:140px;line-height:1.5;">
        <h2 >THÔNG TIN ĐƠN HÀNG</h2>
        <p>Tên: @Convert.ToString(Session["TenKH"]) </p>
        <p>Địa chỉ: @Convert.ToString(Session["DiaChi"])  </p>
        @*@if (@Convert.ToInt32(Session["DiaChi"] != true)
    {
        <p>Trạng thái giao hàng: Đã giao ngày @item.DonHang.NgayGiaoHang</p>
    }
    else
    {
        <p>Trạng thái giao hàng: Đang chờ duyệt đơn</p>
    }*@
        <p>Xác thực đơn hàng: </p>
        @*<p>Tổng tiền thanh toán: 854000 VND</p>*@
    </div>

<table class="table" style="text-align:center; width:80%;align-content:center;margin-top:20px;margin-left:140px;">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        
        <th>
            Tên sản phẩm
        </th>
        <th>
            Hình sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Giá tiền
        </th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDH)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.Image("../../" + @item.SanPham.HinhSP, @item.SanPham.HinhSP, "70")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien) VNĐ
        </td>
        
    </tr>
}
</table>

