@model QuanLyBanHang.Models.KhachHang
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <title>Thông tin cá nhân</title>

    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/Content/css/style-1.css" rel="stylesheet" />

</head>

<body>
    
    <div class="container-fluid banner">
        <div style="margin-top:70px;margin-left:250px;margin-bottom:20px;">
            <a href=@Url.Action("Edit", "Login") class="btn btn-light" style="border-color:black">
                <i class="fas fa-user"></i>
                <span class="text" h> Sửa thông tin cá nhân</span>
            </a>
            <a href=@Url.Action("myOrders", "Login") class="btn btn-light" style="border-color:black">
                <i class="fas fa-shopping-cart"></i>
                <span class="text" h> Xem các đơn hàng đã đặt</span>
                
            </a>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-3 text-center bg-light">
                    <div class="text-danger ">
                        TÀI KHOẢN
                    </div>
                    @if (Session["GioiTinh"] != null)
                    {
                        <img src="~/Content/img/avtnam.png" alt="" style="width: 100px;margin-top:20px;">
                    }
                    else
                    {
                        <img src="~/Content/img/avtnu.png" alt="" style="width: 100px;margin-top:20px;">
                    }

                    <div id="thanh2" class="mt-2">
                    </div>

                    <a class="btn" href="~/Login/Logout" onclick="logOut()" style="background-color:#007bff;color:#fff">Đăng xuất <i class="fas fa-sign-out-alt"></i></a>

                </div>
                <div class="clearfix"></div>

                <div class="col-9">
                    <div>THÔNG TIN TÀI KHOẢN</div>
                    <div class="mt-5">
                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <p style="margin-bottom:10px;">Tên đăng nhập:</p>

                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @disabled = "disabled" , @class = "form-control" } })<br />

                                    </div>
                                </div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.MaKH)

                                <div class="form-group">
                                    
                                    <div class="col-md-10">
                                        <p style="margin-bottom:10px;">Họ tên khách hàng:</p> 
                                        @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    
                                    <div class="col-md-10">
                                        <p style="margin-bottom:10px;">Giới tính: </p> 
                                        @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    
                                    <div class="col-md-10">
                                        <p style="margin-bottom:10px;">Địa chỉ:  </p> 
                                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    
                                    <div class="col-md-10">
                                        <p style="margin-bottom:10px;">Số điện thoại:  </p> 
                                        @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                   
                                    <div class="col-md-10">
                                        <p style="margin-bottom:10px;">Mật khẩu:  </p>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
                                    </div>
                                </div>
                            
                        }
                       
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

</body>

</html>



