@model IEnumerable<QuanLyBanHang.Models.DonHang>

@{
    ViewBag.Title = "myOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:100px;margin-left:140px;width:80%;">
   


    <div style="margin-top:20px;margin-bottom:20px;">
        <a href=@Url.Action("Edit", "Login") class="btn btn-light" style="border-color:black">
            <i class="fas fa-user"></i>
            <span class="text" h> Sửa thông tin cá nhân</span>
        </a>
        <a href=@Url.Action("myOrders", "Login") class="btn btn-light" style="border-color:black">
            <i class="fas fa-shopping-cart"></i>
            <span class="text" h> Xem các đơn hàng đã đặt</span>
        </a>

        <a class="btn" href="~/Login/Logout" onclick="logOut()" style="background-color:#007bff;color:#fff">Đăng xuất <i class="fas fa-sign-out-alt"></i></a>
    </div>
    <h1>DANH SÁCH CÁC ĐƠN HÀNG CỦA TÔI</h1>
    <table class="table" style="margin-top:30px;   ">
        <tr>
            <th>
               Mã đơn hàng
            </th>
            <th>
                Ngày lập đơn hàng
            </th>
            <th>
                Ngày giao hàng
            </th>
            <th>
                Địa chỉ giao hàng
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Thanh tiền
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLapHD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiaoHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
                </td>
                <td>
                    @if (item.NgayGiaoHang != null)
                    {
                        <p style="color:#17850D">Đã duyệt</p>
                    }
                    else
                    {
                        <p style="color:red;">Chờ phê duyệt</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
                <td>
                    @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaDH })
                </td>
                <td>
                    @if (item.NgayGiaoHang == null)
                    {
                        <a class="btn" href="@Url.Action("Delete","Login", new {id = item.MaDH})" onclick="logOut()" style="background-color:red;color:#fff;width:110px"><i class="fas fa-window-close"></i> Hủy đơn </a>
                    }
                </td>
            </tr>
        }

    </table>
</div>



