
@model QuanLyBanHang.Models.SanPham
@using QuanLyBanHang.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
{
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link href="~/Content/css/ui.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!-- custom javascript -->


</head>
<body>

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y" style="margin-top:60px;">
        <div class="container">

            <!-- ============================ ITEM DETAIL ======================== -->
            <div class="row">
                <aside class="col-md-6">
                    <div class="card" style="border:none;">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div> <a href="#">@Html.Image("../../" + @Model.HinhSP, @Model.HinhSP, "420")</a></div>
                            </div> <!-- slider-product.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </div> <!-- card.// -->
                </aside>
                <main class="col-md-6">
                    <article class="product-info-aside">

                        <h1 style="font-size:30px;margin-top:10px;">@Html.DisplayFor(model => model.TenSP)</h1>

                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                <li style="width:80%" class="stars-active">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <small class="label-rating text-muted">132 reviews</small>
                            <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
                        </div> <!-- rating-wrap.// -->

                        <div class="mb-3">
                            <var class="price h4">Giá: <span>@Html.DisplayFor(model => model.DonGia)</span> VND</var>
                            <span class="text-muted">,Giá @Html.DisplayFor(model => model.DonGia) VNĐ đã bao gồm VAT</span>
                        </div> <!-- price-detail-wrap .// -->

                        <p>
                            Chất liệu: Cotton 4 Chiều Tie Dye. Thành phần: 92% cotton 8% spandex. 
                            Màu sắc sản phẩm đạt khoảng 90-95% so với hình chụp, vì hình chụp có ánh sáng và ánh đèn và mỗi kiểu màn hình điện thoại hay máy tính khác nhau sẽ cho chất lượng hình ảnh khác nhau
                        </p>


                        <dl class="row" style="margin-top:10px;">
                            <dt class="col-sm-4"><B>Sản xuất: </B></dt>
                            <dd class="col-sm-8">Made in Việt Nam</dd>

                            <dt class="col-sm-4">Loại sản phẩm:</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)</dd>

                            <dt class="col-sm-4">Số lượng: </dt>
                            <dd class="col-sm-8">@Model.SoLuong</dd>

                            <dt class="col-sm-4">Vận chuyển:</dt>
                            <dd class="col-sm-8">3-4 ngày</dd>

                            <dt class="col-sm-4">Đổi trả:</dt>
                            <dd class="col-sm-8">24 giờ khi nhận hàng</dd>
                        </dl>
                               
                                <input type="hidden" name="MaSP" value="@Model.MaSP"/>                       

                        <div class="form-row  mt-4">
                            <div class="form-group col-md flex-grow-0">
                                <div class="input-group mb-3 input-spinner">

                                    Số lượng: <input type="text" class="form-control" name="sl" value="1" style="border:1px solid #808080;margin-left:5px;">
                                </div>
                            </div> <!-- col.// -->
                            <div class="form-group col-md">
                                @*<a href="@Url.Action("AddToCart", "GioHang", new { MaSP = @Model.MaSP })" class="btn  btn-primary" >
                                    <i class="fas fa-shopping-cart" ></i> <span class="text">Add to cart</span>
                                </a>*@
                                <input type="submit" value="  Add to cart  " class="btn  btn-primary"/>
                                <a href="#" class="btn btn-light">
                                    <i class="fas fa-envelope"></i> <span class="text">Contact supplier</span>
                                </a>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->

                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->


        </div> <!-- container .//  -->
        </section>


</body>
</html>


}   




